.editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-content {
    margin: 20px 0px;
    flex-grow: 1;
    white-space: pre-wrap;
}

.editor-actions {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 5px;
    margin: 20px 0px;
}
