.icon-button {
    all: unset;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
    margin: 0;

    display: flex;
    flex-direction: row;
  }

  .icon-button_small {
    padding: 5px;
    margin: 1px;
  }
  .icon-button_small > .material-symbols-outlined {
    font-size: 15px;
  }

  .icon-button-text {
    padding: 0 10px;
  }